
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


main {
  flex: 1;
  padding-bottom: 20px;
}

table {
  margin-top: 20px;
}

       .spinner-border {
      display: none;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 5px;
      vertical-align: middle;
    }
    .btn-loading .spinner-border {
      display: inline-block;
    }
    .btn-loading {
      position: relative;
    }
    .card {
      transition: transform 0.2s;
    }
    .card:hover {
      transform: translateY(-5px);
    }
    .btn-inscribir {
      position: relative;
      min-width: 100px;
    }